@import url('https://fonts.googleapis.com/css?family=Roboto');
$color-primary: #252120;
body{
  font-family: 'Roboto'!important;
  color:#676767;
  font-size: large;
  font-weight: bold;
  background-color: #1e1e1e;
}

.bg-card{
  background-color:#171717;
  box-shadow: 2px 2px 8px rgba(0,0,0,1), -2px -2px 4px rgba(255,255,255,.1);
}
.icon-background{
  background: #2d2d2d;
}

.tooltip-head{
background: #1d1d1d;
}
.tooltip-body{
  background:#252525 ;
}
.card-stack-border{
  border-bottom: 2px solid #696969;
}
.bg-details{
  background-color: #1e1e1e;
}

