@import url('https://fonts.googleapis.com/css?family=Roboto');

.new{
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px;
}

.MuiGrid-item {
  padding-top: 0px !important;
}

.css-1hv8oq8-MuiStepLabel-label.Mui-active{
  font-family: 'Roboto'!important;
  font-size: 16px!important;
  font-weight: bolder!important;
  color: #4169E1!important;
}

.css-1hv8oq8-MuiStepLabel-label.Mui-completed{
  font-family: 'Roboto'!important;
  font-size: 15px!important;
  color:white!important;
}

.css-1hv8oq8-MuiStepLabel-label{
  font-family: 'Roboto'!important;
  font-size: 15px!important;
  color:white!important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
 color: black!important;  
}
